.btn {
  position: relative;
  padding: 10px 15px;
  border: 1px solid transparent;
  border-radius: 5px;
  color: #FFF;
  font-weight: 600;
  cursor: pointer;
  text-transform: uppercase;
  display: inline-block;
  text-decoration: none;
}