.main-list__item {
  padding: 10px 0;
  background-color: white;
  width: 295px;
  border: 1px solid rgb(233, 230, 230);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

  & img {
    max-width: 100%;    
  }
}

.item__image{
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 395px;
}

.main-item-margin {
  margin: 10px 0;
  text-align: center;
}