.menu {
  font-weight: bold;
  font-size: 1.5rem;
  color: white;
  display: flex;

  &__item-link {
    padding: 0.5rem;
    text-decoration: none;
    color: white;
  }

  &__selected {
    cursor: pointer;
    background-color: #c53a79;
    border-radius: 5px;
    text-decoration: underline;
  }
}